/* Resetting default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Setting a fallback font */
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

#texter {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.mapButton {
    text-align: center;
    margin-top: 20px;
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.lineChart {
    margin-top: 50px;
    text-align: center;
}

.lineChart2 {
    margin-top: 50px;
    text-align: center;
}

/* Styling buttons */
#btnNSW, #btnVIC, #btnQLD, #btnSA, #btnWA, #btnTAS, #btnNT, #btnACT {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#btnNSW:hover, #btnVIC:hover, #btnQLD:hover, #btnSA:hover, #btnWA:hover, #btnTAS:hover, #btnNT:hover, #btnACT:hover {
    background-color: #005f6b;
}
